@page
@model MedicoPerfilModel
@{
    ViewData["Title"] = "Meu Perfil";
}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="text-center">
        <img src="../source/images/telemedicinaLogo-removebg.png" asp-append-version="true" alt="logo" width="100" height="100">
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="ms-lg-5 navBarLi">
            <a href="/MedicoPages/MedicoHome" class="nav-link">
                <p class="m-0 navBarP">Início</p>
            </a>
        </li>
        <li class="ms-lg-5 navBarLi">
            <a href="/MedicoPages/MedicoAgenda" class="nav-link">
                <p class="m-0 navBarP">Agenda</p>
            </a>
        </li>
        <li class="ms-lg-5 navBarLi">
            <a href="/MedicoPages/MedicoPerfil" class="nav-link">
                <p class="m-0 navBarP">Perfil</p>
            </a>
        </li>
    </ul>
</header>
<main>
    <div class="album">
        <h1 class="text-center mb-5">Doutor Testando Um</h1>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-text text-center">Gerenciar meus dados</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="/DadosPessoais" class="w-100 btn btn-lg botaoEntrar">Dados Pessoais</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-text text-center">Visualizar histórico de atendimentos</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="w-100 btn btn-lg botaoEntrar">Histórico de Atendimentos</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-text text-center">Gerenciar estabelecimento do perfil</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="w-100 btn btn-lg botaoEntrar">Trocar Estabelecimento</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-text text-center">Gerenciar a senha de acesso</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="w-100 btn btn-lg botaoEntrar">Redefinir Senha</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-text text-center">Realizar logoff</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="/Index" class="w-100 btn btn-lg botaoLogoff">Sair do Sistema</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>