@page
@model AgendamentoModel
@{
    ViewData["Title"] = "Agendamento";
}

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="text-center">
            <img src="../source/images/telemedicinaLogo-removebg.png" asp-append-version="true" alt="logo" width="100" height="100">
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="ms-lg-5 navBarLi">
                <a href="/Home" class="nav-link">
                <p class="m-0 navBarP">Início</p>
                </a>
                </li>
            <li class="ms-lg-5 navBarLi">
                <a href="/Agendamento" class="nav-link">
                <p class="m-0 navBarP">Agendar</p>
                </a>
            </li>
            <li class="ms-lg-5 navBarLi">
                <a href="/Perfil" class="nav-link">
                <p class="m-0 navBarP">Perfil</p>
                </a>
            </li>
        </ul>
    </header>
    <main>
        <form action="/AgRealizado" class="row bgConsulta d-flex align-items-center flex-column">
            <h3 class="text-center" style="color:var(--blue);">Agende sua consulta</h3>
            <div class="mt-3 m-auto d-flex align-items-center flex-column">
                <div class="d-flex flex-column w-50">
                    <label class="mt-5">Especialidade</label>
                    <select class="form-select w-100">
                        <option disabled selected>Selecione a especialidade</option>
                        <option>Clínico Geral</option>
                        <option>Infectologia</option>
                        <option>Fonoaudiólogo</option>
                        <option>Neurologia</option>
                        <option>Psicologia</option>
                        <option>Pediatria</option>
                    </select>
                </div>

                <div class="d-flex flex-column w-50">
                    <label class="mt-5">Médico(a)</label>
                    <select class="form-select w-100">
                        <option disabled selected>Selecione o(a) profissional</option>
                        <option>Doutor Teste</option>
                        <option>Doutora de Teste Souza</option>
                        <option>Doutor Francesco Miranda</option>
                        <option>Doutor José Silva</option>
                        <option>Doutora Joana Oliveira</option>
                        <option>Doutora Fernanda Soares</option>
                    </select>
                </div>

                <div class="d-flex flex-column w-50 mb-5">
                    <label class="mt-5">Horário da consulta</label>
                    <select class="form-select w-100">
                        <option disabled selected>Selecione a data e horário</option>
                        <option>30/11/2022 às 08h00</option>
                        <option>30/11/2022 às 08h30</option>
                        <option>30/11/2022 às 09h00</option>
                        <option>30/11/2022 às 09h30</option>
                        <option>30/11/2022 às 10h00</option>
                        <option>30/11/2022 às 10h30</option>
                    </select>
                </div>
            </div>
            <button class="col btn btn-lg w-50 m-5 botaoEntrar" type="submit">
                Confirmar
            </button>
        </form>
    </main>