@page
@model ConsultaModel
@{
    ViewData["Title"] = "Consulta";
}

    <main>
        <div class="text-center">
            <h1 style="color:var(--blue);">Consulta</h1>
        </div>
        
        <div class="rounded shadow text-center p-5" style="height:550px;">
            <img src="../source/images/videoLogo-removebg.png" asp-append-version="true" alt="videoLogo" width="300" height="300">
        </div>

        <div class="rounded shadow text-center p-5 d-flex align-items-center justify-content-evenly">
            <button class="bg-white border-0">
                <img src="../source/images/micLogo-removebg.png" asp-append-version="true" alt="micLogo" width="80" height="80">
            </button>

            <button class="bg-white border-0">
                <img src="../source/images/chatLogo-removebg.png" asp-append-version="true" alt="chatLogo" width="80" height="80">
            </button>

            <button class="bg-white border-0">
                <img src="../source/images/audioLogo-removebg.png" asp-append-version="true" alt="audioLogo" width="80" height="80">
            </button>
        </div>
    </main>