@page
@model HomeModel
@{
    ViewData["Title"] = "Início";
}

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="text-center">
            <img src="../source/images/telemedicinaLogo-removebg.png" asp-append-version="true" alt="logo" width="100" height="100">
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="ms-lg-5 navBarLi">
                <a href="/Home" class="nav-link d-flex align-items-center">
                    <img src="../source/images/homeBar-removebg.png" asp-append-version="true" class="me-3" alt="homeLogo" width="30" height="30">
                    <p class="m-0 navBarP">Início</p>
                </a>
                </li>
            <li class="ms-lg-5 navBarLi">
                <a href="/Agendamento" class="nav-link d-flex align-items-center">
                    <img src="../source/images/agendarBar-removebg.png" asp-append-version="true" class="me-3" alt="agendarLogo" width="30" height="30">
                    <p class="m-0 navBarP">Agendar</p>
                </a>
            </li>
            <li class="ms-lg-5 navBarLi">
                <a href="/Perfil" class="nav-link d-flex align-items-center">
                    <img src="../source/images/perfilBar-removebg.png" asp-append-version="true" class="me-3" alt="perfilLogo" width="30" height="30">
                    <p class="m-0 navBarP">Perfil</p>
                </a>
            </li>
        </ul>
    </header>
    <main>
        <div class="row d-flex align-items-center justify-content-around">
            <h1 class="col w-50" style="color:var(--blue);">Seja Bem Vindo(a)</h1>
            <a href="/Agendamento" class="col-4">
                <span class="btn btn-lg w-100 botaoEntrar">
                    Agendar
                </span>
            </a>
        </div>

        <div class="row bgConsulta mt-5 d-flex flex-wrap">
            <h3 class="text-center" style="color:var(--blue);">Agendamentos</h3>
            <div class="col border p-2 m-2 cartaoConsulta">
                <button class="btn btn-md botaoCancelar">
                    Cancelar
                </button>
                <div>
                    <p class="fw-bold">Data e Hora: 22/11/2022 às 14h15</p>
                    <p>Médico(a): Doutor Testando Um</p>
                    <p>CRM: 8888</p>
                    <p>Especialidade: Infectologia</p>
                    <p>Paciente: Paciente Teste Júnior</p>
                </div>
                <a href="/Consulta" class="">
                    <span class="btn btn-lg w-100 botaoEntrar">
                        Consultar
                    </span>
                </a>
            </div>
            <div class="col border p-2 m-2 cartaoConsulta">
                <button class="btn btn-md botaoCancelar">
                    Cancelar
                </button>
                <div>
                <p class="fw-bold">Data e Hora: 01/12/2022 às 08h00</p>
                    <p>Médico(a): Doutor Teste</p>
                    <p>CRM: 1010</p>
                    <p>Especialidade: Clínico Geral</p>
                    <p>Paciente: Paciente Teste Júnior</p>
                </div>
                <a href="/Consulta">
                    <span class="btn btn-lg w-100 botaoEntrar">
                        Consultar
                    </span>
                </a>
            </div>
            <div class="col border p-2 m-2 cartaoConsulta">
                <button class="btn btn-md botaoCancelar">
                    Cancelar
                </button>
                <div>
                <p class="fw-bold">Data e Hora: 23/01/2023 às 11h00</p>
                    <p>Médico(a): Doutor Teste</p>
                    <p>CRM: 1010</p>
                    <p>Especialidade: Clínico Geral</p>
                    <p>Paciente: Paciente Teste Júnior</p>
                </div>
                <a href="/Consulta">
                    <span class="btn btn-lg w-100 botaoEntrar">
                        Consultar
                    </span>
                </a>
            </div>
        </div>
    </main>